main {
  grid-area: main;
  padding: 1rem;
}

main .produtos h2 {
  color: var(--cor-neutra-clara);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

main .produtos ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 368px));
  justify-content: center;
  gap: 2rem;
}

main .produtos .produto {
  max-width: 368px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  width: 100%;          
}

main .produtos .produto figure {
  margin: 0;
}

main .produtos img {
  width: 100%;
  height: 334px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  display: block;
  object-position: center;
  object-fit: cover;
}

main .produto figcaption {
  background-color: var(--cor-cinza-escura);
  color: var(--cor-neutra-clara);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 1.5rem 1.5rem 1.2rem;
}

main .prod-info {
  background-color: var(--cor-cinza-escura);
  color: var(--cor-neutra-clara);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1.5rem 1.5rem;
}

main .prod-info span {
  color: var(--cor-cinza-clara);
}

main .prod-info strong {
  color: var(--cor-cinza-clara);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

main .prod-info .price {
  font-size: 2rem;
  margin-top: 0.5rem;
  text-align: right;
}

main .prod-info .btn-carrinho {
  background-color: var(--cor-primaria);
  border: none;
  border-radius: 8px;
  color: var(--cor-neutra-clara);
  padding: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

main .prod-info .btn-carrinho:hover {
  background-color: var(--cor-primaria-hover);
}

@media (min-width: 769px) {
  main {
    margin: 0 auto;
  }

  main .produtos .produto {
    min-width: 368px;
  }

  main .produtos ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media (min-width: 1170px) {
  main .produtos {
    max-width: 1170px;
    margin: 0 auto;
  }
}
